In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df_station = pd.read_csv('./cycle-share-dataset/station.csv')
df_station.head(1)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN

In [3]:
df_trip = pd.read_csv('./cycle-share-dataset/trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [4]:
df_trip.drop(df_trip.index[50794])
df_trip.head(1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0

In [5]:
df_weather = pd.read_csv('./cycle-share-dataset/weather.csv')
df_weather.head(7)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
5,10/18/2014,68,64.0,59,59,57,55,90,83,68,...,29.90,29.80,10,8,2,10,4,-,0.31,Rain
6,10/19/2014,73,64.0,55,57,55,53,94,74,52,...,29.73,29.67,10,10,6,10,3,18,0.00,NaN

## Average trip duration for a borrowed bicycle

In [6]:
avg_trip_duration = round(df_trip.tripduration.mean(), 2)
avg_trip_duration

1178.3

## Most Common Age

In [7]:
age_value_counts = df_trip.birthyear.value_counts()
most_common_birthyear = age_value_counts.head(1)
# 1987.0    18128
common_age = 2018 - 1987
common_age

31

## The average precipitation per month

In [8]:
#TOTAL NUMBER OF DAYS IS 689
length = len(df_weather.Events)

#TOTAL NUMBER OF DAYS WITHOUT PRECIPITATION IS:
length_no_nan = df_weather.Events.count()

#PERCENTAGE CHANCE IS:
chance = 1 - (length_no_nan / length)

#AVERAGE NUMBER OF DAYS WITH PERCIPITAITON IS:
days = round(chance * 30, 0)

days

16.0

## The average number of bikes at a given bike station:

In [9]:
avg_dock = round(df_station.current_dockcount.mean(), 2)
avg_dock

16.52

## Modified Station:

In [10]:
#Drop all rows where modification_date is "NaN"
df_station_drop_na = df_station.dropna(subset=['modification_date'])

avg_current = round(df_station_drop_na.current_dockcount.mean(), 0)
# Average current count is: 14
avg_install = round(df_station_drop_na.install_dockcount.mean(), 0)
# Average install count is: 18

print('When a station is modified, 4 bikes were removed in average.')

When a station is modified, 4 bikes were removed in average.

## Additional Question (1): The average days of precipitation per year

In [11]:
#TOTAL NUMBER OF DAYS IS 689
length = len(df_weather.Events)

#TOTAL NUMBER OF DAYS WITHOUT PRECIPITATION IS:
length_no_nan = df_weather.Events.count()

#PERCENTAGE CHANCE IS:
chance = 1 - (length_no_nan / length)

#AVERAGE NUMBER OF DAYS WITH PERCIPITAITON IS:
days = round(chance * 365, 0)

days

191.0

## Additional Question (2): The median trip duration

In [12]:
median_trip_duration = round(df_trip.tripduration.median(), 0)
median_trip_duration

625.0

## Additional Question (3): The average trip duration of the 20 longest trips

In [13]:
top_longest_20_trips = df_trip.sort_values(by=['tripduration']).tail(20)
top_longest_20_trips_mean = round(top_longest_20_trips.tripduration.mean(), 0)
top_longest_20_trips_mean

28565.0