# Regressions

## Setup

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy.polynomial as poly
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import requests
import bokeh.plotting as bk
from bokeh.models import HoverTool, Label, BoxZoomTool, PanTool, ZoomInTool, ZoomOutTool, ResetTool

company_symbol = 'AAPL'

## Request To API

In [2]:
res = requests.get(f'https://api.iextrading.com/1.0/stock/{company_symbol}/chart/5y')
data = res.json()
df = pd.DataFrame(data)
df.head(5)

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,-0.553285,0.000000,-0.760,72.2117,2013-12-18,72.3008,"Dec 18, 13",70.6423,72.0714,20209401,141465807,71.5217
1,-0.827309,-0.011457,-1.146,71.3844,2013-12-19,72.1107,"Dec 19, 13",71.2887,72.0452,11462767,80239369,71.6091
2,0.597864,-0.003178,0.838,71.9822,2013-12-20,72.3218,"Dec 20, 13",71.4313,71.5116,15586205,109103435,71.9809
3,2.762500,0.035077,3.838,74.7447,2013-12-23,74.8273,"Dec 23, 13",73.7837,74.4707,17903833,125326831,74.4027
4,-0.317288,0.030685,-0.424,74.4275,2013-12-24,74.9794,"Dec 24, 13",74.2124,74.7185,5984105,41888735,74.5717

In [3]:
df.describe()

,change,changeOverTime,changePercent,close,high,low,open,unadjustedVolume,volume,vwap
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1.258000e+03,1258.000000
mean,0.072476,0.746679,0.075758,126.130658,127.185278,125.026519,126.112586,3.694122e+07,4.314809e+07,126.157320
std,2.010447,0.544586,1.494275,39.325456,39.691407,38.962766,39.334818,2.052426e+07,2.395804e+07,39.312575
min,-14.688700,-0.092576,-7.993000,65.526600,65.755800,64.709600,64.923300,5.704942e+06,1.147592e+07,57.582200
25%,-0.714904,0.334160,-0.616000,96.341950,97.008450,95.416200,95.925875,2.354778e+07,2.660238e+07,96.062225
50%,0.065235,0.566005,0.057000,113.083850,113.778200,112.262100,113.088800,3.306399e+07,3.705306e+07,113.144550
75%,1.011525,1.142274,0.845500,154.697225,156.553350,153.492975,155.065775,4.645314e+07,5.262638e+07,155.116075
max,11.132000,2.202571,8.198000,231.263100,232.658200,228.981100,229.977600,1.898463e+08,2.668336e+08,231.426900

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 12 columns):
change              1258 non-null float64
changeOverTime      1258 non-null float64
changePercent       1258 non-null float64
close               1258 non-null float64
date                1258 non-null object
high                1258 non-null float64
label               1258 non-null object
low                 1258 non-null float64
open                1258 non-null float64
unadjustedVolume    1258 non-null int64
volume              1258 non-null int64
vwap                1258 non-null float64
dtypes: float64(8), int64(2), object(2)
memory usage: 118.0+ KB

In [5]:
df.date = pd.to_datetime(df.date)

In [6]:
df.head(3)

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,-0.553285,0.000000,-0.760,72.2117,2013-12-18,72.3008,"Dec 18, 13",70.6423,72.0714,20209401,141465807,71.5217
1,-0.827309,-0.011457,-1.146,71.3844,2013-12-19,72.1107,"Dec 19, 13",71.2887,72.0452,11462767,80239369,71.6091
2,0.597864,-0.003178,0.838,71.9822,2013-12-20,72.3218,"Dec 20, 13",71.4313,71.5116,15586205,109103435,71.9809

In [7]:
df['year'] = df.date.dt.year
df.head(3)

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap,year
0,-0.553285,0.000000,-0.760,72.2117,2013-12-18,72.3008,"Dec 18, 13",70.6423,72.0714,20209401,141465807,71.5217,2013
1,-0.827309,-0.011457,-1.146,71.3844,2013-12-19,72.1107,"Dec 19, 13",71.2887,72.0452,11462767,80239369,71.6091,2013
2,0.597864,-0.003178,0.838,71.9822,2013-12-20,72.3218,"Dec 20, 13",71.4313,71.5116,15586205,109103435,71.9809,2013