In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df_station = pd.read_csv('./cycle-share-dataset/station.csv')
df_station.head(1)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN

In [3]:
df_trip = pd.read_csv('./cycle-share-dataset/trip.csv')
df_trip.head(1)

ParserError: Error tokenizing data. C error: Expected 12 fields in line 50794, saw 20

In [4]:
df_weather = pd.read_csv('./cycle-share-dataset/weather.csv')
df_weather.head(1)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.0,Rain